*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'PT Serif', sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'PT Serif', serif;
  letter-spacing: 0.1rem;
  line-height: 1.25;
  /* margin-bottom: 0.75rem; */
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  /* margin-bottom: 1.25rem;
  color: var(--clr-grey-3); */
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 0.8rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.text-center {
  text-align: center;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background-color: #09357b;
  color: white;
  font-size: 0.8rem;
  padding: 0.1rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  border: none;
  outline: 0;
}
i {
  margin-right: 0.5rem;
}
